In [2]:
s1=[1,2,3,4,5]
max(s1)

5

In [7]:
d={"a":1,"b":2} #Working with dictionary data type
d

{'a': 1, 'b': 2}

In [6]:
d.values()

dict_values([1, 2])

In [8]:
d.keys()

dict_keys(['a', 'b'])

In [9]:
d.items()

dict_items([('a', 1), ('b', 2)])

In [11]:
d.get('a') #corresponding values

1

In [12]:
d1={"a":1,"b":2,"c":3} #pops last item from dict
d1.popitem()

('c', 3)

In [18]:
d1

{'b': 2}

In [20]:
del d1['b']

In [21]:
d1

{}

In [22]:
d1={'a':1}
d2={'b':2,'c':3}
d1.update(d2) #combines the items in two dict

In [23]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [30]:
#working wid strings
text1="Welcome to python"
text1[7]

' '

In [37]:
t1="Welcome"
t2="to"
t3="python"
t1+" "+t2+" "+t3

'Welcome to python'

In [40]:
t1="welcome"
t1.index("m")

5

In [41]:
text1[0] = 'H'

TypeError: 'str' object does not support item assignment

In [42]:
text1.insert(4,"a")

AttributeError: 'str' object has no attribute 'insert'

In [45]:
# Set data structure

a= set([1,2,3,4,5])
a

{1, 2, 3, 4, 5}

In [44]:
a =set([1,2,2,4,5])
a

{1, 2, 4, 5}

In [51]:
b=([3,4,5,6])
a.union(b) #union

{1, 2, 3, 4, 5, 6}

In [50]:
c=a.intersection(b) #intersection
c

{3, 4, 5}

In [52]:
c.issubset(a)

True

In [53]:
c.issuperset(a)

False

In [54]:
a.add(b)

TypeError: unhashable type: 'list'

In [57]:
#frozen set
a=frozenset([1,2,3,4])
b=frozenset([2,3,4,5])
a.union(b)

frozenset({1, 2, 3, 4, 5})

In [60]:
c=set([1,2,3])
d=frozenset([4,5,6])
c.add(frozenset(d))
c

{1, 2, 3, frozenset({4, 5, 6})}

In [10]:
emp1={"name":"Hibah","id":1,"dept":"cse"}
emp1

{'dept': 'cse', 'id': 1, 'name': 'Hibah'}

In [12]:
print(emp1["dept"])

cse

In [41]:
emp=[{"name":"Abc","id":1,"dept":"cse"},{"name":"Xyz",'id': 2,"dept":"ece"},{"name":"Hibah","id":3,"dept":"mech"},{"name":"uvw","id":4,"dept":"cse"},{"name":"Piya","id":5,"dept":"eie"}]
for i in emp:
    department=i['dept']
    print(department)

cse
ece
mech
cse
eie

In [38]:
emp1={"id":1,"dept":"cse"}
emp2={'id': 2,"dept":"ece"}
emp3={"id":3,"dept":"mech"}
emp4={"id":4,"dept":"cse"}
emp5={"id":5,"dept":"eie"}
employees={"james":emp1,"stark":emp2,"humera":emp3,"pooja":emp4,"payal":emp5}
emp1["dept"]

'cse'

KeyError: '1'

In [47]:
n=int(input("Enter an integer:"))
print("Factors are:")
i=1
while(i<=n):
    k=0
    if(n%i==0):
        j=1
        while(j<=i):
            if(i%j==0):
                k=k+1
            j=j+1
        if(k==2):
            print(i)
    i=i+1

Enter an integer:118
Factors are:
2
59

In [64]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
 
for num in range(lower,upper + 1):
   # prime numbers are greater than 1
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter lower range: 0
Enter upper range: 45
2
3
5
7
11
13
17
19
23
29
31
37
41
43

In [60]:
for i in range(1,21):
    a=0
    for j in range(1,i+1):
        b=i%j
        if b==0:
            a=a+1
    if a==2:
        print(i)

2
3
5
7
11
13
17
19