In [1]:
l1=[1,2,3,4,5]
l1

[1, 2, 3, 4, 5]

In [3]:
# 5 emplyees with ids,names,dept
l1=[(1,"Abc","cse"),(2,"xyz","ece"),(3,"Hibah","cse"),(4,"uvw","mech"),(5,"efg","eee")]
l1

[(1, 'Abc', 'cse'),
 (2, 'xyz', 'ece'),
 (3, 'Hibah', 'cse'),
 (4, 'uvw', 'mech'),
 (5, 'efg', 'eee')]

In [8]:
l1.append((6,"a","eie")) #append
l1

[(1, 'Abc', 'cse'),
 (2, 'xyz', 'ece'),
 (3, 'Hibah', 'cse'),
 (4, 'uvw', 'mech'),
 (5, 'efg', 'eee'),
 (6, 'a', 'eie'),
 [6, 'a', 'eie'],
 (6, 'a', 'eie')]

In [9]:
l1.pop()
l1

[(1, 'Abc', 'cse'),
 (2, 'xyz', 'ece'),
 (3, 'Hibah', 'cse'),
 (4, 'uvw', 'mech'),
 (5, 'efg', 'eee'),
 (6, 'a', 'eie'),
 [6, 'a', 'eie']]

In [10]:
l1.remove([6,"a","eie"])
l1

[(1, 'Abc', 'cse'),
 (2, 'xyz', 'ece'),
 (3, 'Hibah', 'cse'),
 (4, 'uvw', 'mech'),
 (5, 'efg', 'eee'),
 (6, 'a', 'eie')]

In [12]:
l1.extend([(7,"b","cse"),(8,"c","ece")])
l1

[(1, 'Abc', 'cse'),
 (2, 'xyz', 'ece'),
 (3, 'Hibah', 'cse'),
 (4, 'uvw', 'mech'),
 (5, 'efg', 'eee'),
 (6, 'a', 'eie'),
 (7, 'b', 'cse'),
 (8, 'c', 'ece')]

In [17]:
def emp():
    ids=[1,2,3,4,5]
    names=["a","b","c","d","e"]
    dept=["cse","ece","eee","mech","eie"]
    print("ID = {}\nName= {} \ndept= {}\n".format(ids,names,dept))

emp()

ID = [1, 2, 3, 4, 5]
Name= ['a', 'b', 'c', 'd', 'e']
dept= ['cse', 'ece', 'eee', 'mech', 'eie']

In [29]:
l2 = [2500,10000,1500,18000,5000]
l2.sort()
l2

[1500, 2500, 5000, 10000, 18000]

In [41]:
t1=((1,"Abc","cse"),(2,"xyz","ece"),(3,"Hibah","cse"),(4,"uvw","mech"),(5,"efg","eee"))
t1[::2]

((1, 'Abc', 'cse'), (3, 'Hibah', 'cse'), (5, 'efg', 'eee'))

In [10]:
t1[1:][::2]

((2, 'xyz', 'ece'), (4, 'uvw', 'mech'))

In [21]:
for i in range(5):  #continuation of programing constructs
    n=input("enter a number:")
    n=int(n)
    if(n%2!=0):
        print(n)
        continue

enter a number:5
5
enter a number:4
enter a number:2
enter a number:3
3
enter a number:1
1

In [24]:
n=2
for i in range(n):
    if i==3:
     pass
    print("pass block")

pass block
pass block

In [25]:
#working wid while loop
i=0
while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [37]:
count=0
while (count<5):
        print(count,"is less than 5")
        count=count+1
else:
        print(count,"is not less than 5")

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

# Homework day 2

In [13]:
#1 
list2=[20,11,40,13,6,15] #odd indices
list2[1:][::2]

[11, 13, 15]

In [8]:
list2.index(2)

1

In [14]:
list2[::2] #even indices

[20, 40, 6]

In [18]:
emp={"Abc":[1,"cse"],"Xyz":[2,"ece"],"Hibah":[3,"mech"],"uvw":[4,"cse"],"Piya":[5,"eie"]}
emp

{'Abc': [1, 'cse'],
 'Hibah': [3, 'mech'],
 'Piya': [5, 'eie'],
 'Xyz': [2, 'ece'],
 'uvw': [4, 'cse']}

In [33]:
emp.keys()

dict_keys(['Abc', 'Xyz', 'Hibah', 'uvw', 'Piya'])

In [34]:
emp.values()

dict_values([{'id': 1, 'dept': 'cse'}, {'id': 2, 'dept': 'ece'}, {'id': 3, 'dept': 'mech'}, {'id': 4, 'dept': 'cse'}, {'id': 5, 'dept': 'eie'}])

In [61]:
#2 print 5 employees
emp=[{"name":"Abc","id":1,"dept":"cse"},{"name":"Xyz",'id': 2,"dept":"ece"},{"name":"Hibah","id":3,"dept":"mech"},{"name":"uvw","id":4,"dept":"cse"},{"name":"Piya","id":5,"dept":"eie"}]
emp

[{'dept': 'cse', 'id': 1, 'name': 'Abc'},
 {'dept': 'ece', 'id': 2, 'name': 'Xyz'},
 {'dept': 'mech', 'id': 3, 'name': 'Hibah'},
 {'dept': 'cse', 'id': 4, 'name': 'uvw'},
 {'dept': 'eie', 'id': 5, 'name': 'Piya'}]

In [63]:
emp=[{"name":"Abc","id":1,"dept":"cse"},{"name":"Xyz",'id': 2,"dept":"ece"},{"name":"Hibah","id":3,"dept":"mech"},{"name":"uvw","id":4,"dept":"cse"},{"name":"Piya","id":5,"dept":"eie"}]
for i in emp:
    department=i['dept']  #printing departments
    print(department)

cse
ece
mech
cse
eie

In [91]:
emp1=[{"name":"Abc","id":1,"sal":10000},{"name":"Xyz",'id': 2,"sal":1500},{"name":"Hibah","id":3,"sal":25000},{"name":"uvw","id":4,"sal":6000},{"name":"Piya","id":5,"sal":1500}]
for i in emp1:
    del i['sal'] #deleting salary of all employees

In [92]:
emp1 #without sal

[{'id': 1, 'name': 'Abc'},
 {'id': 2, 'name': 'Xyz'},
 {'id': 3, 'name': 'Hibah'},
 {'id': 4, 'name': 'uvw'},
 {'id': 5, 'name': 'Piya'}]

In [86]:
student={"name":"hibah","rollno":71,"course":"cse","cgpa":8.71,"placement status":"Yes"}
student

{'cgpa': 8.71,
 'course': 'cse',
 'name': 'hibah',
 'placement status': 'Yes',
 'rollno': 71}

In [87]:
student.keys()

dict_keys(['name', 'rollno', 'course', 'cgpa', 'placement status'])

In [88]:
student.values()

dict_values(['hibah', 71, 'cse', 8.71, 'Yes'])

In [89]:
student.items()

dict_items([('name', 'hibah'), ('rollno', 71), ('course', 'cse'), ('cgpa', 8.71), ('placement status', 'Yes')])

In [90]:
student.get('course')

'cse'

In [118]:
#delete 1st salary of employee
emp3=[{"name":"Abc","id":1,"sal":10000},{"name":"Xyz",'id': 2,"sal":1500},{"name":"Hibah","id":3,"sal":25000},{"name":"uvw","id":4,"sal":6000},{"name":"Piya","id":5,"sal":1500}]
for i in emp3:
    if (i['sal'])==10000:
        del i['sal']

In [101]:
emp3

[{'id': 1, 'name': 'Abc'},
 {'id': 2, 'name': 'Xyz', 'sal': 1500},
 {'id': 3, 'name': 'Hibah', 'sal': 25000},
 {'id': 4, 'name': 'uvw', 'sal': 6000},
 {'id': 5, 'name': 'Piya', 'sal': 1500}]

In [120]:
del emp3['sal'(remove('id'))]

NameError: name 'remove' is not defined

In [144]:
r1=input("Enter sales:")
r1=int(r1)
r2=input("Enter sales:")
r2=int(r2)
r3=int(input("Enter sales:"))
if(r1<500000):
    print("stop sales in region1")
elif (r2 < 500000):
    print("stop sales in region2")
else (r3 < 500000):
    print("stop sales in region 3")

Enter sales:400000
Enter sales:500000
Enter sales:7000000
stop sales in region1

In [2]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
 
for num in range(lower,upper + 1):
   # prime numbers are greater than 1
   if num > 1:
       for i in range(2,num):  
           if (num % i) == 0:
               break
       else:
           print(num)

Enter lower range: 2
Enter upper range: 48
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [4]:
sales=(1000,3000,2500,8000,7500)
max(sales)

8000

In [154]:
min(sales)

1000

In [160]:
mydict={"a":70,"b":85,"c":90,"d":50,"e":40,"f":80,"g":55,"h":95,"i":100,"j":43}
m1=max(mydict)
m1

'j'

In [164]:
min(mydict)

'a'

In [167]:
a=10
b=20
if(a>b):
    print(a)
else:
    print(b)

20

# Homework day 3

In [2]:
#Working with python PANDAS dataseries
import numpy as np
import pandas as pd
emp=pd.Series(['Asra','Rahil',np.nan,'Farhan','Ayesha'], #pthon understands missing value as nan
index=[1,2,3,4,5])

In [6]:
emp

1      Asra
2     Rahil
3       NaN
4    Farhan
5    Ayesha
dtype: object

In [3]:
data={'Roll_no':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
      'Name':['Hibah','Asim','Pooja','Shravani','Navya','Madhuri','Shivani','Rekha','Rachitra','ayush','haider','Ranesh','Sarfaraz','Sudeep','Rahman','A','B','C','D','E'],
      'Course':['cse','ece','ece','cse','cse','cse','ece','cse','ece','cse','mech','cse','ece','cse','cse','ece','cse','IT','cse','Cse']}
df=pd.DataFrame(data,
columns=['Roll_no','Name','Course'])
df

    Roll_no      Name Course
0         1     Hibah    cse
1         2      Asim    ece
2         3     Pooja    ece
3         4  Shravani    cse
4         5     Navya    cse
5         6   Madhuri    cse
6         7   Shivani    ece
7         8     Rekha    cse
8         9  Rachitra    ece
9        10     ayush    cse
10       11    haider   mech
11       12    Ranesh    cse
12       13  Sarfaraz    ece
13       14    Sudeep    cse
14       15    Rahman    cse
15       16         A    ece
16       17         B    cse
17       18         C     IT
18       19         D    cse
19       20         E    Cse