# Import data

In [338]:
import os
os.getcwd()

'C:\\Users\\Hiba\\Desktop\\data set'

In [339]:
os.chdir('C:/Users/Hiba/Desktop/data set')

In [340]:
os.getcwd()

'C:\\Users\\Hiba\\Desktop\\data set'

In [341]:
import numpy as np
import pandas as pd
from sklearn import preprocessing 
data1=pd.read_csv('Income-Prediction.csv')
data1

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
14,51,?,172175,Doctorate,16,Never-married,?,Not-in-family,White,Male,0,2824,40,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,?,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
24,61,?,135285,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2603,32,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32532,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32533,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32534,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32535,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32536,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32537,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32538,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32539,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32540,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32541,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32543,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32544,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32545,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32546,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32547,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32548,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32549,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32550,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [342]:
data1.shape

(32561, 15)

In [343]:
data1.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [344]:
obj=data1.select_dtypes(include=['object']).copy()
obj

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
0,?,HS-grad,Widowed,?,Not-in-family,White,Female,United-States,<=50K
1,Private,HS-grad,Widowed,Exec-managerial,Not-in-family,White,Female,United-States,<=50K
2,?,Some-college,Widowed,?,Unmarried,Black,Female,United-States,<=50K
3,Private,7th-8th,Divorced,Machine-op-inspct,Unmarried,White,Female,United-States,<=50K
4,Private,Some-college,Separated,Prof-specialty,Own-child,White,Female,United-States,<=50K
5,Private,HS-grad,Divorced,Other-service,Unmarried,White,Female,United-States,<=50K
6,Private,10th,Separated,Adm-clerical,Unmarried,White,Male,United-States,<=50K
7,State-gov,Doctorate,Never-married,Prof-specialty,Other-relative,White,Female,United-States,>50K
8,Federal-gov,HS-grad,Divorced,Prof-specialty,Not-in-family,White,Female,United-States,<=50K
9,Private,Some-college,Never-married,Craft-repair,Unmarried,White,Male,?,>50K
10,Private,Doctorate,Divorced,Prof-specialty,Unmarried,Black,Female,United-States,>50K
11,Self-emp-not-inc,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Male,United-States,>50K
12,Private,Bachelors,Widowed,Other-service,Not-in-family,White,Female,United-States,>50K
13,Private,Masters,Separated,Exec-managerial,Not-in-family,White,Male,United-States,>50K
14,?,Doctorate,Never-married,?,Not-in-family,White,Male,United-States,>50K
15,Private,Prof-school,Divorced,Prof-specialty,Not-in-family,White,Male,United-States,>50K
16,Private,11th,Divorced,Transport-moving,Not-in-family,White,Male,United-States,>50K
17,Private,Masters,Divorced,Exec-managerial,Not-in-family,White,Male,United-States,>50K
18,Private,Assoc-acdm,Never-married,Handlers-cleaners,Not-in-family,Black,Male,?,>50K
19,Private,Bachelors,Separated,Sales,Not-in-family,White,Male,United-States,>50K
20,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Male,United-States,>50K
21,Private,11th,Separated,Sales,Not-in-family,White,Female,United-States,<=50K
22,Private,HS-grad,Divorced,Sales,Unmarried,White,Female,United-States,<=50K
23,Private,Some-college,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States,<=50K
24,?,HS-grad,Married-civ-spouse,?,Husband,White,Male,United-States,<=50K
25,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K
26,Private,1st-4th,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,Mexico,<=50K
27,Private,5th-6th,Married-civ-spouse,Other-service,Husband,White,Male,Greece,<=50K
28,Self-emp-inc,10th,Never-married,Transport-moving,Not-in-family,White,Male,United-States,>50K
29,Private,10th,Never-married,Prof-specialty,Not-in-family,White,Male,United-States,>50K
...,...,...,...,...,...,...,...,...,...
32531,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,United-States,<=50K
32532,Private,HS-grad,Separated,Sales,Unmarried,White,Female,United-States,<=50K
32533,?,Bachelors,Married-civ-spouse,?,Wife,White,Female,United-States,>50K
32534,?,Bachelors,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,United-States,<=50K
32535,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K
32536,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,Japan,>50K
32537,Private,Some-college,Divorced,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32538,Private,12th,Never-married,Protective-serv,Own-child,Black,Male,United-States,<=50K
32539,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Female,United-States,>50K
32540,Private,HS-grad,Never-married,Craft-repair,Not-in-family,Black,Male,United-States,<=50K
32541,?,Doctorate,Married-civ-spouse,?,Husband,White,Male,United-States,>50K
32542,State-gov,HS-grad,Separated,Adm-clerical,Own-child,White,Female,United-States,<=50K
32543,?,HS-grad,Separated,?,Not-in-family,Black,Female,United-States,<=50K
32544,?,HS-grad,Married-civ-spouse,?,Husband,White,Male,United-States,<=50K
32545,Local-gov,Assoc-acdm,Divorced,Prof-specialty,Unmarried,White,Female,United-States,<=50K
32546,Private,Masters,Divorced,Other-service,Not-in-family,Other,Female,United-States,<=50K
32547,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,United-States,>50K
32548,Private,Assoc-acdm,Divorced,Tech-support,Not-in-family,White,Female,United-States,<=50K
32549,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,Mexico,<=50K
32550,State-gov,Some-college,Divorced,Adm-clerical,Other-relative,White,Female,United-States,<=50K
32551,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K
32552,Private,10th,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,United-States,<=50K
32553,Private,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K
32554,Private,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,Taiwan,<=50K
32555,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
32556,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,United-States,<=50K
32557,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32558,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32559,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32560,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K

In [345]:
obj.loc[:,:].replace('?',np.nan,inplace=True)
obj

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
0,NaN,HS-grad,Widowed,NaN,Not-in-family,White,Female,United-States,<=50K
1,Private,HS-grad,Widowed,Exec-managerial,Not-in-family,White,Female,United-States,<=50K
2,NaN,Some-college,Widowed,NaN,Unmarried,Black,Female,United-States,<=50K
3,Private,7th-8th,Divorced,Machine-op-inspct,Unmarried,White,Female,United-States,<=50K
4,Private,Some-college,Separated,Prof-specialty,Own-child,White,Female,United-States,<=50K
5,Private,HS-grad,Divorced,Other-service,Unmarried,White,Female,United-States,<=50K
6,Private,10th,Separated,Adm-clerical,Unmarried,White,Male,United-States,<=50K
7,State-gov,Doctorate,Never-married,Prof-specialty,Other-relative,White,Female,United-States,>50K
8,Federal-gov,HS-grad,Divorced,Prof-specialty,Not-in-family,White,Female,United-States,<=50K
9,Private,Some-college,Never-married,Craft-repair,Unmarried,White,Male,NaN,>50K
10,Private,Doctorate,Divorced,Prof-specialty,Unmarried,Black,Female,United-States,>50K
11,Self-emp-not-inc,Prof-school,Never-married,Prof-specialty,Not-in-family,White,Male,United-States,>50K
12,Private,Bachelors,Widowed,Other-service,Not-in-family,White,Female,United-States,>50K
13,Private,Masters,Separated,Exec-managerial,Not-in-family,White,Male,United-States,>50K
14,NaN,Doctorate,Never-married,NaN,Not-in-family,White,Male,United-States,>50K
15,Private,Prof-school,Divorced,Prof-specialty,Not-in-family,White,Male,United-States,>50K
16,Private,11th,Divorced,Transport-moving,Not-in-family,White,Male,United-States,>50K
17,Private,Masters,Divorced,Exec-managerial,Not-in-family,White,Male,United-States,>50K
18,Private,Assoc-acdm,Never-married,Handlers-cleaners,Not-in-family,Black,Male,NaN,>50K
19,Private,Bachelors,Separated,Sales,Not-in-family,White,Male,United-States,>50K
20,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Male,United-States,>50K
21,Private,11th,Separated,Sales,Not-in-family,White,Female,United-States,<=50K
22,Private,HS-grad,Divorced,Sales,Unmarried,White,Female,United-States,<=50K
23,Private,Some-college,Married-civ-spouse,Transport-moving,Husband,White,Male,United-States,<=50K
24,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K
25,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K
26,Private,1st-4th,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,Mexico,<=50K
27,Private,5th-6th,Married-civ-spouse,Other-service,Husband,White,Male,Greece,<=50K
28,Self-emp-inc,10th,Never-married,Transport-moving,Not-in-family,White,Male,United-States,>50K
29,Private,10th,Never-married,Prof-specialty,Not-in-family,White,Male,United-States,>50K
...,...,...,...,...,...,...,...,...,...
32531,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,United-States,<=50K
32532,Private,HS-grad,Separated,Sales,Unmarried,White,Female,United-States,<=50K
32533,NaN,Bachelors,Married-civ-spouse,NaN,Wife,White,Female,United-States,>50K
32534,NaN,Bachelors,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,United-States,<=50K
32535,Private,Doctorate,Married-civ-spouse,Prof-specialty,Husband,White,Male,United-States,>50K
32536,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,Japan,>50K
32537,Private,Some-college,Divorced,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32538,Private,12th,Never-married,Protective-serv,Own-child,Black,Male,United-States,<=50K
32539,Private,Bachelors,Never-married,Exec-managerial,Not-in-family,White,Female,United-States,>50K
32540,Private,HS-grad,Never-married,Craft-repair,Not-in-family,Black,Male,United-States,<=50K
32541,NaN,Doctorate,Married-civ-spouse,NaN,Husband,White,Male,United-States,>50K
32542,State-gov,HS-grad,Separated,Adm-clerical,Own-child,White,Female,United-States,<=50K
32543,NaN,HS-grad,Separated,NaN,Not-in-family,Black,Female,United-States,<=50K
32544,NaN,HS-grad,Married-civ-spouse,NaN,Husband,White,Male,United-States,<=50K
32545,Local-gov,Assoc-acdm,Divorced,Prof-specialty,Unmarried,White,Female,United-States,<=50K
32546,Private,Masters,Divorced,Other-service,Not-in-family,Other,Female,United-States,<=50K
32547,Local-gov,Assoc-acdm,Married-civ-spouse,Adm-clerical,Wife,White,Female,United-States,>50K
32548,Private,Assoc-acdm,Divorced,Tech-support,Not-in-family,White,Female,United-States,<=50K
32549,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,Mexico,<=50K
32550,State-gov,Some-college,Divorced,Adm-clerical,Other-relative,White,Female,United-States,<=50K
32551,Self-emp-not-inc,Some-college,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,<=50K
32552,Private,10th,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,United-States,<=50K
32553,Private,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,United-States,<=50K
32554,Private,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,Taiwan,<=50K
32555,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,>50K
32556,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,United-States,<=50K
32557,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32558,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32559,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32560,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K

In [346]:
data1.loc[:,:].replace('?',np.nan,inplace=True)
data1

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,NaN,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
14,51,NaN,172175,Doctorate,16,Never-married,NaN,Not-in-family,White,Male,0,2824,40,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,NaN,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
24,61,NaN,135285,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,2603,32,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,<=50K
32532,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,<=50K
32533,35,NaN,320084,Bachelors,13,Married-civ-spouse,NaN,Wife,White,Female,0,0,55,United-States,>50K
32534,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32535,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32536,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32537,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32538,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32539,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32540,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32541,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,>50K
32542,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32543,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32544,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,<=50K
32545,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32546,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32547,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32548,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32549,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32550,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [347]:
#Get a count of missing values in a dataset
data1.apply(lambda x:sum(x.isnull()),axis=0)

age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
income               0
dtype: int64

In [348]:
data1.isnull().sum()/len(data1)

age               0.000000
workclass         0.056386
fnlwgt            0.000000
education         0.000000
education.num     0.000000
marital.status    0.000000
occupation        0.056601
relationship      0.000000
race              0.000000
sex               0.000000
capital.gain      0.000000
capital.loss      0.000000
hours.per.week    0.000000
native.country    0.017905
income            0.000000
dtype: float64

# drop col wid more than 25% of missing data

# impute mode

In [349]:
data1.workclass.value_counts()

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64

In [350]:
data1["workclass"].fillna("Private")

0                 Private
1                 Private
2                 Private
3                 Private
4                 Private
5                 Private
6                 Private
7               State-gov
8             Federal-gov
9                 Private
10                Private
11       Self-emp-not-inc
12                Private
13                Private
14                Private
15                Private
16                Private
17                Private
18                Private
19                Private
20                Private
21                Private
22                Private
23                Private
24                Private
25                Private
26                Private
27                Private
28           Self-emp-inc
29                Private
               ...
32531             Private
32532             Private
32533             Private
32534             Private
32535             Private
32536             Private
32537             Private
32538             Private
32539             Private
32540             Private
32541             Private
32542           State-gov
32543             Private
32544             Private
32545           Local-gov
32546             Private
32547           Local-gov
32548             Private
32549             Private
32550           State-gov
32551    Self-emp-not-inc
32552             Private
32553             Private
32554             Private
32555             Private
32556             Private
32557             Private
32558             Private
32559             Private
32560             Private
Name: workclass, Length: 32561, dtype: object

In [351]:
data1.occupation.value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [352]:
data1["occupation"].fillna("Prof-speciality")

0          Prof-speciality
1          Exec-managerial
2          Prof-speciality
3        Machine-op-inspct
4           Prof-specialty
5            Other-service
6             Adm-clerical
7           Prof-specialty
8           Prof-specialty
9             Craft-repair
10          Prof-specialty
11          Prof-specialty
12           Other-service
13         Exec-managerial
14         Prof-speciality
15          Prof-specialty
16        Transport-moving
17         Exec-managerial
18       Handlers-cleaners
19                   Sales
20         Exec-managerial
21                   Sales
22                   Sales
23        Transport-moving
24         Prof-speciality
25            Craft-repair
26            Craft-repair
27           Other-service
28        Transport-moving
29          Prof-specialty
               ...
32531    Machine-op-inspct
32532                Sales
32533      Prof-speciality
32534      Prof-speciality
32535       Prof-specialty
32536      Exec-managerial
32537         Adm-clerical
32538      Protective-serv
32539      Exec-managerial
32540         Craft-repair
32541      Prof-speciality
32542         Adm-clerical
32543      Prof-speciality
32544      Prof-speciality
32545       Prof-specialty
32546        Other-service
32547         Adm-clerical
32548         Tech-support
32549    Machine-op-inspct
32550         Adm-clerical
32551         Craft-repair
32552    Handlers-cleaners
32553                Sales
32554         Tech-support
32555      Exec-managerial
32556      Protective-serv
32557         Tech-support
32558    Machine-op-inspct
32559         Adm-clerical
32560         Adm-clerical
Name: occupation, Length: 32561, dtype: object

In [353]:
data1['native.country'].value_counts()

United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Laos                             18
Thailand                         18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64

In [354]:
data1["native.country"].fillna("United-States")

0        United-States
1        United-States
2        United-States
3        United-States
4        United-States
5        United-States
6        United-States
7        United-States
8        United-States
9        United-States
10       United-States
11       United-States
12       United-States
13       United-States
14       United-States
15       United-States
16       United-States
17       United-States
18       United-States
19       United-States
20       United-States
21       United-States
22       United-States
23       United-States
24       United-States
25       United-States
26              Mexico
27              Greece
28       United-States
29       United-States
             ...
32531    United-States
32532    United-States
32533    United-States
32534    United-States
32535    United-States
32536            Japan
32537    United-States
32538    United-States
32539    United-States
32540    United-States
32541    United-States
32542    United-States
32543    United-States
32544    United-States
32545    United-States
32546    United-States
32547    United-States
32548    United-States
32549           Mexico
32550    United-States
32551    United-States
32552    United-States
32553    United-States
32554           Taiwan
32555    United-States
32556    United-States
32557    United-States
32558    United-States
32559    United-States
32560    United-States
Name: native.country, Length: 32561, dtype: object

In [355]:
features=data1.iloc[:,:-1].values
features

array([[90, nan, 77053, ..., 4356, 40, 'United-States'],
       [82, 'Private', 132870, ..., 4356, 18, 'United-States'],
       [66, nan, 186061, ..., 4356, 40, 'United-States'],
       ...,
       [40, 'Private', 154374, ..., 0, 40, 'United-States'],
       [58, 'Private', 151910, ..., 0, 40, 'United-States'],
       [22, 'Private', 201490, ..., 0, 20, 'United-States']], dtype=object)

In [356]:
data1.describe()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [357]:
data1.workclass

0                     NaN
1                 Private
2                     NaN
3                 Private
4                 Private
5                 Private
6                 Private
7               State-gov
8             Federal-gov
9                 Private
10                Private
11       Self-emp-not-inc
12                Private
13                Private
14                    NaN
15                Private
16                Private
17                Private
18                Private
19                Private
20                Private
21                Private
22                Private
23                Private
24                    NaN
25                Private
26                Private
27                Private
28           Self-emp-inc
29                Private
               ...
32531             Private
32532             Private
32533                 NaN
32534                 NaN
32535             Private
32536             Private
32537             Private
32538             Private
32539             Private
32540             Private
32541                 NaN
32542           State-gov
32543                 NaN
32544                 NaN
32545           Local-gov
32546             Private
32547           Local-gov
32548             Private
32549             Private
32550           State-gov
32551    Self-emp-not-inc
32552             Private
32553             Private
32554             Private
32555             Private
32556             Private
32557             Private
32558             Private
32559             Private
32560             Private
Name: workclass, Length: 32561, dtype: object

In [358]:
#recoding-chng categorical data into numbers
data1['income'].replace(['>50K','<=50K'],[1,0],inplace=True)
data1

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,0
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,0
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,0
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,0
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,1
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,0
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,NaN,1
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,1
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,1
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,1
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,1
14,51,NaN,172175,Doctorate,16,Never-married,NaN,Not-in-family,White,Male,0,2824,40,United-States,1
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,1
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,1
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,1
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,NaN,1
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,1
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,1
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,0
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,0
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,0
24,61,NaN,135285,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,2603,32,United-States,0
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,0
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,0
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,0
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,1
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,0
32532,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,0
32533,35,NaN,320084,Bachelors,13,Married-civ-spouse,NaN,Wife,White,Female,0,0,55,United-States,1
32534,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,0
32535,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
32536,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
32537,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,0
32538,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,0
32539,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,1
32540,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,0
32541,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,1
32542,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,0
32543,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,0
32544,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,0
32545,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,0
32546,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,0
32547,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,1
32548,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
32549,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,0
32550,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,0
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,0
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,0
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,0
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,0
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,0
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0

In [359]:
X=data1.iloc[:,:].values


from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_X=LabelEncoder()
X[:,5]=labelencoder_X.fit_transform(X[:,5])
X[:,2]=labelencoder_X.fit_transform(X[:,2])
X[:,7]=labelencoder_X.fit_transform(X[:,7])
X[:,8]=labelencoder_X.fit_transform(X[:,8])
X[:,9]=labelencoder_X.fit_transform(X[:,9])
X[:,3]=labelencoder_X.fit_transform(X[:,3])

z=pd.DataFrame(X)
z

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,90,NaN,2649,11,9,6,NaN,1,4,0,0,4356,40,United-States,0
1,82,Private,6514,11,9,6,Exec-managerial,1,4,0,0,4356,18,United-States,0
2,66,NaN,11175,15,10,6,NaN,4,2,0,0,4356,40,United-States,0
3,54,Private,7009,5,4,0,Machine-op-inspct,4,4,0,0,3900,40,United-States,0
4,41,Private,16850,15,10,5,Prof-specialty,3,4,0,0,3900,40,United-States,0
5,34,Private,14182,11,9,0,Other-service,4,4,0,0,3770,45,United-States,0
6,38,Private,7800,0,6,5,Adm-clerical,4,4,1,0,3770,40,United-States,0
7,74,State-gov,3183,10,16,4,Prof-specialty,2,4,0,0,3683,20,United-States,1
8,68,Federal-gov,20872,11,9,0,Prof-specialty,1,4,0,0,3683,40,United-States,0
9,41,Private,2360,15,10,4,Craft-repair,4,4,1,0,3004,60,NaN,1
10,45,Private,9646,10,16,0,Prof-specialty,4,2,0,0,3004,35,United-States,1
11,38,Self-emp-not-inc,8904,14,15,4,Prof-specialty,1,4,1,0,2824,45,United-States,1
12,52,Private,6273,9,13,6,Other-service,1,4,0,0,2824,20,United-States,1
13,32,Private,6724,12,14,5,Exec-managerial,1,4,1,0,2824,55,United-States,1
14,51,NaN,9638,10,16,4,NaN,1,4,1,0,2824,40,United-States,1
15,46,Private,1297,14,15,0,Prof-specialty,1,4,1,0,2824,40,United-States,1
16,45,Private,9700,1,7,0,Transport-moving,1,4,1,0,2824,76,United-States,1
17,57,Private,18794,12,14,0,Exec-managerial,1,4,1,0,2824,50,United-States,1
18,22,Private,5558,7,12,4,Handlers-cleaners,1,2,1,0,2824,40,NaN,1
19,34,Private,13032,9,13,5,Sales,1,4,1,0,2824,50,United-States,1
20,37,Private,11503,9,13,4,Exec-managerial,1,4,1,0,2824,40,United-States,1
21,29,Private,2648,1,7,5,Sales,1,4,0,0,2754,42,United-States,0
22,61,Private,323,11,9,0,Sales,4,4,0,0,2754,25,United-States,0
23,51,Private,8043,15,10,2,Transport-moving,0,4,1,0,2603,40,United-States,0
24,61,NaN,6669,11,9,2,NaN,0,4,1,0,2603,32,United-States,0
25,21,Private,723,8,11,2,Craft-repair,0,4,1,0,2603,40,United-States,0
26,33,Private,14967,3,2,2,Craft-repair,1,4,1,0,2603,32,Mexico,0
27,49,Private,5751,4,3,2,Other-service,0,4,1,0,2603,40,Greece,0
28,37,Self-emp-inc,4454,0,6,4,Transport-moving,1,4,1,0,2559,50,United-States,1
29,38,Private,9979,0,6,4,Prof-specialty,1,4,1,0,2559,90,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,17991,11,9,2,Machine-op-inspct,5,4,0,0,0,40,United-States,0
32532,29,Private,6041,11,9,5,Sales,4,4,0,0,0,35,United-States,0
32533,35,NaN,18865,9,13,2,NaN,5,4,0,0,0,55,United-States,1
32534,30,NaN,673,9,13,4,NaN,1,1,0,0,0,99,United-States,0
32535,34,Private,13162,10,16,2,Prof-specialty,0,4,1,0,0,60,United-States,1
32536,54,Private,19341,9,13,2,Exec-managerial,0,1,1,0,0,50,Japan,1
32537,37,Private,10424,15,10,0,Adm-clerical,4,4,0,0,0,39,United-States,0
32538,22,Private,18995,2,8,4,Protective-serv,3,2,1,0,0,35,United-States,0
32539,34,Private,8538,9,13,4,Exec-managerial,1,4,0,0,0,55,United-States,1
32540,30,Private,19591,11,9,4,Craft-repair,1,2,1,0,0,46,United-States,0
32541,71,NaN,17809,10,16,2,NaN,0,4,1,0,0,10,United-States,1
32542,45,State-gov,16286,11,9,5,Adm-clerical,3,4,0,0,0,40,United-States,0
32543,41,NaN,13011,11,9,5,NaN,1,2,0,0,0,32,United-States,0
32544,72,NaN,6333,11,9,2,NaN,0,4,1,0,0,25,United-States,0
32545,45,Local-gov,5526,7,12,0,Prof-specialty,4,4,0,0,0,48,United-States,0
32546,31,Private,12701,12,14,0,Other-service,1,3,0,0,0,30,United-States,0
32547,39,Local-gov,4829,7,12,2,Adm-clerical,5,4,0,0,0,20,United-States,1
32548,37,Private,12538,7,12,0,Tech-support,1,4,0,0,0,40,United-States,0
32549,43,Private,16684,11,9,2,Machine-op-inspct,0,4,1,0,0,40,Mexico,0
32550,43,State-gov,16451,15,10,0,Adm-clerical,2,4,0,0,0,40,United-States,0
32551,43,Self-emp-not-inc,225,15,10,2,Craft-repair,0,4,1,0,0,50,United-States,0
32552,32,Private,692,0,6,2,Handlers-cleaners,0,0,1,0,0,40,United-States,0
32553,43,Private,3008,8,11,2,Sales,0,4,1,0,0,45,United-States,0
32554,32,Private,5225,12,14,4,Tech-support,1,1,1,0,0,11,Taiwan,0
32555,53,Private,18914,12,14,2,Exec-managerial,0,4,1,0,0,40,United-States,1
32556,22,Private,18560,15,10,4,Protective-serv,1,4,1,0,0,40,United-States,0
32557,27,Private,16528,7,12,2,Tech-support,5,4,0,0,0,38,United-States,0
32558,40,Private,8080,11,9,2,Machine-op-inspct,0,4,1,0,0,40,United-States,1
32559,58,Private,7883,11,9,6,Adm-clerical,4,4,0,0,0,40,United-States,0
32560,22,Private,12881,11,9,4,Adm-clerical,3,4,1,0,0,20,United-States,0

In [360]:
z.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,90,NaN,2649,11,9,6,NaN,1,4,0,0,4356,40,United-States,0
1,82,Private,6514,11,9,6,Exec-managerial,1,4,0,0,4356,18,United-States,0
2,66,NaN,11175,15,10,6,NaN,4,2,0,0,4356,40,United-States,0
3,54,Private,7009,5,4,0,Machine-op-inspct,4,4,0,0,3900,40,United-States,0
4,41,Private,16850,15,10,5,Prof-specialty,3,4,0,0,3900,40,United-States,0

In [361]:
data1.fillna({'workclass':'private','occupation':'Prof-speciality','nation.country':'United-States'},inplace=True)

In [362]:
data1

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,private,77053,HS-grad,9,Widowed,Prof-speciality,Not-in-family,White,Female,0,4356,40,United-States,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,0
2,66,private,186061,Some-college,10,Widowed,Prof-speciality,Unmarried,Black,Female,0,4356,40,United-States,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,0
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,0
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,0
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,1
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,0
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,NaN,1
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,1
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,1
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,1
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,1
14,51,private,172175,Doctorate,16,Never-married,Prof-speciality,Not-in-family,White,Male,0,2824,40,United-States,1
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,1
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,1
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,1
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,NaN,1
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,1
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,1
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,0
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,0
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,0
24,61,private,135285,HS-grad,9,Married-civ-spouse,Prof-speciality,Husband,White,Male,0,2603,32,United-States,0
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,0
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,0
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,0
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,1
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,31,Private,292592,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,United-States,0
32532,29,Private,125976,HS-grad,9,Separated,Sales,Unmarried,White,Female,0,0,35,United-States,0
32533,35,private,320084,Bachelors,13,Married-civ-spouse,Prof-speciality,Wife,White,Female,0,0,55,United-States,1
32534,30,private,33811,Bachelors,13,Never-married,Prof-speciality,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,0
32535,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,1
32536,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,1
32537,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,0
32538,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,0
32539,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,1
32540,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,0
32541,71,private,287372,Doctorate,16,Married-civ-spouse,Prof-speciality,Husband,White,Male,0,0,10,United-States,1
32542,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,0
32543,41,private,202822,HS-grad,9,Separated,Prof-speciality,Not-in-family,Black,Female,0,0,32,United-States,0
32544,72,private,129912,HS-grad,9,Married-civ-spouse,Prof-speciality,Husband,White,Male,0,0,25,United-States,0
32545,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,0
32546,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,0
32547,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,1
32548,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
32549,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,0
32550,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,0
32551,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,0
32552,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,0
32553,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,0
32554,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,0
32555,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,0
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,0
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,0
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,0

In [364]:
X=data1.iloc[:,:].values


from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_X=LabelEncoder()
X[:,5]=labelencoder_X.fit_transform(X[:,5])
X[:,2]=labelencoder_X.fit_transform(X[:,2])
X[:,7]=labelencoder_X.fit_transform(X[:,7])
X[:,8]=labelencoder_X.fit_transform(X[:,8])
X[:,9]=labelencoder_X.fit_transform(X[:,9])
X[:,3]=labelencoder_X.fit_transform(X[:,3])
X[:,1]=labelencoder_X.fit_transform(X[:,1])
X[:,6]=labelencoder_X.fit_transform(X[:,6])

z=pd.DataFrame(X,columns=['age',])
z

       0  1      2   3   4  5   6  7  8  9  10    11  12             13 14
0      90  8   2649  11   9  6   9  1  4  0  0  4356  40  United-States  0
1      82  3   6514  11   9  6   3  1  4  0  0  4356  18  United-States  0
2      66  8  11175  15  10  6   9  4  2  0  0  4356  40  United-States  0
3      54  3   7009   5   4  0   6  4  4  0  0  3900  40  United-States  0
4      41  3  16850  15  10  5  10  3  4  0  0  3900  40  United-States  0
5      34  3  14182  11   9  0   7  4  4  0  0  3770  45  United-States  0
6      38  3   7800   0   6  5   0  4  4  1  0  3770  40  United-States  0
7      74  6   3183  10  16  4  10  2  4  0  0  3683  20  United-States  1
8      68  0  20872  11   9  0  10  1  4  0  0  3683  40  United-States  0
9      41  3   2360  15  10  4   2  4  4  1  0  3004  60            NaN  1
10     45  3   9646  10  16  0  10  4  2  0  0  3004  35  United-States  1
11     38  5   8904  14  15  4  10  1  4  1  0  2824  45  United-States  1
12     52  3   6273   9  13  6   7  1  4  0  0  2824  20  United-States  1
13     32  3   6724  12  14  5   3  1  4  1  0  2824  55  United-States  1
14     51  8   9638  10  16  4   9  1  4  1  0  2824  40  United-States  1
15     46  3   1297  14  15  0  10  1  4  1  0  2824  40  United-States  1
16     45  3   9700   1   7  0  14  1  4  1  0  2824  76  United-States  1
17     57  3  18794  12  14  0   3  1  4  1  0  2824  50  United-States  1
18     22  3   5558   7  12  4   5  1  2  1  0  2824  40            NaN  1
19     34  3  13032   9  13  5  12  1  4  1  0  2824  50  United-States  1
20     37  3  11503   9  13  4   3  1  4  1  0  2824  40  United-States  1
21     29  3   2648   1   7  5  12  1  4  0  0  2754  42  United-States  0
22     61  3    323  11   9  0  12  4  4  0  0  2754  25  United-States  0
23     51  3   8043  15  10  2  14  0  4  1  0  2603  40  United-States  0
24     61  8   6669  11   9  2   9  0  4  1  0  2603  32  United-States  0
25     21  3    723   8  11  2   2  0  4  1  0  2603  40  United-States  0
26     33  3  14967   3   2  2   2  1  4  1  0  2603  32         Mexico  0
27     49  3   5751   4   3  2   7  0  4  1  0  2603  40         Greece  0
28     37  4   4454   0   6  4  14  1  4  1  0  2559  50  United-States  1
29     38  3   9979   0   6  4  10  1  4  1  0  2559  90  United-States  1
...    .. ..    ...  ..  .. ..  .. .. .. .. ..   ...  ..            ... ..
32531  31  3  17991  11   9  2   6  5  4  0  0     0  40  United-States  0
32532  29  3   6041  11   9  5  12  4  4  0  0     0  35  United-States  0
32533  35  8  18865   9  13  2   9  5  4  0  0     0  55  United-States  1
32534  30  8    673   9  13  4   9  1  1  0  0     0  99  United-States  0
32535  34  3  13162  10  16  2  10  0  4  1  0     0  60  United-States  1
32536  54  3  19341   9  13  2   3  0  1  1  0     0  50          Japan  1
32537  37  3  10424  15  10  0   0  4  4  0  0     0  39  United-States  0
32538  22  3  18995   2   8  4  11  3  2  1  0     0  35  United-States  0
32539  34  3   8538   9  13  4   3  1  4  0  0     0  55  United-States  1
32540  30  3  19591  11   9  4   2  1  2  1  0     0  46  United-States  0
32541  71  8  17809  10  16  2   9  0  4  1  0     0  10  United-States  1
32542  45  6  16286  11   9  5   0  3  4  0  0     0  40  United-States  0
32543  41  8  13011  11   9  5   9  1  2  0  0     0  32  United-States  0
32544  72  8   6333  11   9  2   9  0  4  1  0     0  25  United-States  0
32545  45  1   5526   7  12  0  10  4  4  0  0     0  48  United-States  0
32546  31  3  12701  12  14  0   7  1  3  0  0     0  30  United-States  0
32547  39  1   4829   7  12  2   0  5  4  0  0     0  20  United-States  1
32548  37  3  12538   7  12  0  13  1  4  0  0     0  40  United-States  0
32549  43  3  16684  11   9  2   6  0  4  1  0     0  40         Mexico  0
32550  43  6  16451  15  10  0   0  2  4  0  0     0  40  United-States  0
32551  43  5    225  15  10  2   2  0  4  1  0     0  50  United-States  0
32552  32  3    692   0   6  2   5  0  0  1  0     0  40  United-States  0
32553  43  3   3008   8  11  2  12  0  4  1  0     0  45  United-States  0
32554  32  3   5225  12  14  4  13  1  1  1  0     0  11         Taiwan  0
32555  53  3  18914  12  14  2   3  0  4  1  0     0  40  United-States  1
32556  22  3  18560  15  10  4  11  1  4  1  0     0  40  United-States  0
32557  27  3  16528   7  12  2  13  5  4  0  0     0  38  United-States  0
32558  40  3   8080  11   9  2   6  0  4  1  0     0  40  United-States  1
32559  58  3   7883  11   9  6   0  4  4  0  0     0  40  United-States  0
32560  22  3  12881  11   9  4   0  3  4  1  0     0  20  United-States  0

[32561 rows x 15 columns]

In [ ]:
x=z.loc(:,)